@page "/suppliers/delete"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using lab02.Models
@inject IDbContextFactory<lab02.Database.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удаление поставщика</PageTitle>

<h1>Удаление поставщика</h1>

<p>Вы уверены, что хотите удалить?</p>
<div>
    <hr />
    @if (supplier is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Полное наименование</dt>
            <dd class="col-sm-10">@supplier.FullName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Сокращенное наименование</dt>
            <dd class="col-sm-10">@supplier.ShortName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Юридический адрес</dt>
            <dd class="col-sm-10">@supplier.LegalAddress</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Номер телефона</dt>
            <dd class="col-sm-10">@supplier.PhoneNumber</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ФИО директора</dt>
            <dd class="col-sm-10">@supplier.DirectorName</dd>
        </dl>
        <EditForm method="post" Model="supplier" OnValidSubmit="DeleteSupplier" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(supplier is null)">Удалить</button> |
            <a href="/suppliers">Назад к списку</a>
        </EditForm>
    }
</div>

@code {
    private Supplier? supplier;

    [SupplyParameterFromQuery]
    private int SupplierId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        supplier = await context.Suppliers.FirstOrDefaultAsync(m => m.SupplierId == SupplierId);

        if (supplier is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteSupplier()
    {
        using var context = DbFactory.CreateDbContext();
        context.Suppliers.Remove(supplier!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/suppliers");
    }
}
