@page "/suppliers/details"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using lab02.Models
@inject IDbContextFactory<lab02.Database.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Детали поставщика</PageTitle>

<h1>Детали поставщика</h1>

<div>
    <hr />
    @if (supplier is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Полное наименование</dt>
            <dd class="col-sm-10">@supplier.FullName</dd>
            <dt class="col-sm-2">Сокращенное наименование</dt>
            <dd class="col-sm-10">@supplier.ShortName</dd>
            <dt class="col-sm-2">Юридический адрес</dt>
            <dd class="col-sm-10">@supplier.LegalAddress</dd>
            <dt class="col-sm-2">Номер телефона</dt>
            <dd class="col-sm-10">@supplier.PhoneNumber</dd>
            <dt class="col-sm-2">ФИО директора</dt>
            <dd class="col-sm-10">@supplier.DirectorName</dd>
        </dl>
        <div>
            <a href="@($"/suppliers/edit?supplierid={supplier.SupplierId}")">Редактировать</a> |
            <a href="@($"/suppliers")">Назад к списку</a>
        </div>
    }
</div>

@code {
    private Supplier? supplier;

    [SupplyParameterFromQuery]
    private int SupplierId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        supplier = await context.Suppliers.FirstOrDefaultAsync(m => m.SupplierId == SupplierId);

        if (supplier is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
