@page "/supplies/delete"
@using Microsoft.EntityFrameworkCore
@using lab02.Models
@inject IDbContextFactory<lab02.Database.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удаление поставки</PageTitle>

<h1>Удаление поставки</h1>

<p>Вы уверены, что хотите удалить?</p>
<div>
    <hr />
    @if (supply is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Идентификатор цветка</dt>
            <dd class="col-sm-10">@supply.FlowerId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дата доставки</dt>
            <dd class="col-sm-10">@supply.DeliveryDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Цена за единицу</dt>
            <dd class="col-sm-10">@supply.PricePerUnit</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Количество</dt>
            <dd class="col-sm-10">@supply.Units</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Идентификатор поставщика</dt>
            <dd class="col-sm-10">@supply.SupplierId</dd>
        </dl>
        <EditForm method="post" Model="supply" OnValidSubmit="DeleteSupply" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(supply is null)">Удалить</button> |
            <a href="/supplies">Назад к списку</a>
        </EditForm>
    }
</div>

@code {
    private Supply? supply;

    [SupplyParameterFromQuery]
    private int SupplyId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        supply = await context.Supplies.FirstOrDefaultAsync(m => m.SupplyId == SupplyId);

        if (supply is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteSupply()
    {
        using var context = DbFactory.CreateDbContext();
        context.Supplies.Remove(supply!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/supplies");
    }
}
