@page "/supplies/details"
@using Microsoft.EntityFrameworkCore
@using lab02.Models
@inject IDbContextFactory<lab02.Database.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Детали поставки</PageTitle>

<h1>Детали поставки @SupplierNamePlaceholder</h1>

<div>
    <hr />
    @if (supply is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Цветок</dt>
            <dd class="col-sm-10">@(flowers!.FirstOrDefault(f => f.FlowerId == supply.FlowerId)!.Name)</dd>
            <dt class="col-sm-2">Дата доставки</dt>
            <dd class="col-sm-10">@supply.DeliveryDate.ToShortDateString()</dd>
            <dt class="col-sm-2">Цена за единицу</dt>
            <dd class="col-sm-10">@supply.PricePerUnit</dd>
            <dt class="col-sm-2">Количество</dt>
            <dd class="col-sm-10">@supply.Units</dd>
            <dt class="col-sm-2">Поставщик</dt>
            <dd class="col-sm-10">@(suppliers!.FirstOrDefault(s => s.SupplierId == supply.SupplierId)!.FullName)</dd>
        </dl>
        <div>
            <a href="@($"/supplies/edit?supplyid={supply.SupplyId}&supplierid={supply.SupplierId}")">Редактировать</a> |
            <a href="@($"/supplies")">Назад к списку поставок @SupplierNamePlaceholder</a>
        </div>
    }
</div>

@code {
    private Supply? supply;

    [SupplyParameterFromQuery]
    private int SupplyId { get; set; }

    [SupplyParameterFromQuery]
    public int? SupplierId { get; set; }

    private string SupplierNamePlaceholder = string.Empty;

    private List<Flower>? flowers;
    private List<Supplier>? suppliers;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        supply = await context.Supplies.FirstOrDefaultAsync(m => m.SupplyId == SupplyId);

        flowers = await context.Flowers.ToListAsync();
        suppliers = await context.Suppliers.ToListAsync();

        SupplierNamePlaceholder = SupplierId is null ? "" : context.Suppliers.FirstOrDefault(s => s.SupplierId == SupplierId)!.FullName!;


        if (supply is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
